<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="30 seconds">
    <property name="LOG_PATH" value="logs" />
    <timestamp key="timestamp-by-hours" datePattern="yyyyMMdd'T'HH"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%msg%n</pattern>
        </layout>
    </appender>
    <appender name="File-Appender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/logfile-${timestamp-by-hours}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org"  level="info" additivity="false">
        <appender-ref ref="File-Appender" />
        <appender-ref ref="RollingFile-Appender" />
    </logger>
    <root level="info">
        <appender-ref ref="Console-Appender" />
    </root>
</configuration>